body{
    background-color: #F5F5DC;
}
.logo{
    display: flex;
    justify-content: center;
    margin-top: 13%;
    font-family: 'Aboreto';
    
}

.logo a{
    list-style: none;
    font-size: 120px;
    text-decoration: none;
    color: black;
}
li{
    list-style: none;
}
.botao{
    display: flex;
    justify-content: center; 
    gap: 40px; 
    margin: 20px 0; 
}
button{
    margin-top: 30px;
    padding: 10px 20px;
    background: #846714;
    color: white;
    height: 50px;
    width: 200px;
    border: none;
    border-radius: 126px;
    cursor: pointer;
}
button:hover{
    background-color: #88794e;
}

button a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium
}
p{
    text-align: center;
    letter-spacing: 4px;
    
}
.cadastra{
    display: flex;
    justify-content: center;
    padding: 20px;

}
.letr li{
    padding: 40px;
    margin-top: 20%;
    text-align: center;
    font-size: 40px;
}
.voltar img{
    display: flex;
    height: 30px;
    cursor: pointer;
}
#box{
    border-radius: 40px;
    margin: 0 auto;
    height: 500px;
    width: 500px;
    background-color: #a79461;
}
.cadastra input{
    border-style: none;
    height: 25px;
    border-radius: 20px;
    text-align: center;
    color: black;
}